/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@keyframes fade-in-first {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-second {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in-first {
  animation: fade-in-first 0.5s ease-in-out forwards;
}

.animate-fade-in-second {
  animation: fade-in-second 1.5s ease-in-out forwards;
}

.blog-post h1 {
  @apply text-4xl font-bold pb-4;
}

.blog-post h2 {
  @apply text-2xl font-semibold pb-2;
}

.blog-post h3 {
  @apply text-xl pb-2;
}

.blog-post h4 {
  @apply text-4xl pb-2 font-semibold;
}

.blog-post hr {
  @apply pb-4 border-zinc-400;
}

.blog-post p {
  @apply pb-4;
}

.blog-post a {
  @apply text-red-400 hover:text-red-600;
}

.blog-post ol,
.blog-post ul {
  @apply pl-8;
  list-style: revert;
}

.blog-post li {
  @apply pb-2;
}

.blog-post code {
  @apply bg-slate-800 p-2 w-full mb-2;
}

.blog-post code,
pre {
  @apply mb-5;
}
