---
import ProjectCard from "./ProjectCard.astro";
---

<div class="mb-8">
  <div class="max-w-full flex flex-col items-center border-black p-4">
    <h2 class="text-4xl sm:text-6xl font-semibold text-fuchsia-400 -mt-2 mb-2">GroupQuotes</h2>
    <div class="flex space-x-4 mb-2">
      <a class="text-zinc-300 hover:text-lfred-400" href="https://github.com/LinkFrost/Group-Quotes-Discord-Bot" target="_blank" rel="noreferrer">Repository</a>
          
    </div>
    <div class="flex">
      <img class="mb-2" style={{ height: "100px", width: "auto" }} src="/img/GroupQuotesLogo.jpg" alt="GroupQuotes Logo"></img>
    </div>
    <p class="">An easy to use Discord bot for saving funny out of context quotes. You can view them back in your server by author, and set a gallery channel where each quote is sent to. Visit the repo to add this bot to your server today!</p>
  </div>
</div>