---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class={`hover:text-lfred-300 ${isActive ? "font-bold text-lfred-300" : ''}`} class={} class:list={[className, { active: isActive }]} {...props}>
	<slot/>
</a>