---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="pb-8">
	<nav class="flex justify-between items-center border-b-2 pb-8">
		<h2 class="font-bold text-red-400 text-4xl"><a href="/">{SITE_TITLE}</a></h2>
		<div class="flex justify-between gap-4 sm:gap-12">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/projects">Projects</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/about">Contact</HeaderLink>
		</div>
	</nav>
</header>
