---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const { title, description, image = '/favicon.ico' } = Astro.props;
---

<!doctype html>
<html lang="en" style={{ colorScheme: "dark" }} class="bg-darkblue-900"
	<head>
		<BaseHead title={title} description={description} />
	</head>
  <body class="flex flex-col px-8 py-8 sm:px-12 sm:max-w-[900px] mx-auto min-h-screen">
    <div class="w-full">
      <Header></Header>
      <slot/>
    </div>
    <Footer></Footer>
  </body>
</html>